<!-- <h1>this is app.component.html</h1>
<h1>{{title}}</h1>

<button (click)="getFullName()">Click Me</button>
<button (click)="add(5,6)">Add Me</button>
<button (click)="setName(name)">Add Me</button>
{{name}}
<input type="text" placeholder="enter anything"  #fullName>
<button (click)="displayName(fullName.value)">Submit</button>
<h3>{{myName}}</h3>
<input type="text" placeholder="enter data"  #data (keyup)="setData(data.value)">
<h2>{{mydata}}</h2>
<div (mouseenter)="EnterFunction()" class="enter">Mouse over me!>
<p>onmouseenter:<br><span id="demo1">Mouse enter me</span></p>
{{m}}
</div>
<div (mousemove)="MoveFunction()" class="move">Mouse over me!>
<p>onmouseover:<br><span id="demo2">Mouse move me</span></p>
{{i}}
</div>
<div (mouseover)="OverFunction()" class="over">Mouse over me!>
<p>:<br><span id="demo3">Mouse over me</span></p>
{{n}}
</div>
<app-mail-send></app-mail-send>
<app-mail-send></app-mail-send>
<app-email-verification></app-email-verification>
<app-otp></app-otp>
<app-login></app-login>
<app-button></app-button> -->

<!-- main -->
<!-- <app-profile></app-profile>
<app-foooter></app-foooter> -->


<!-- food -->
<!-- <app-navbar></app-navbar>
<app-header></app-header>
<app-content></app-content>
<app-pagination></app-pagination>
<app-about></app-about>
<app-footer></app-footer> -->

<!-- protfolio -->
<app-sidebar></app-sidebar>
<app-title></app-title>
<app-pagination></app-pagination>
<app-my-images></app-my-images>

<app-basic></app-basic>